@page "/admin/restaurant/{RestaurantId:int}"
@using QRCodeMenu.Shared.Dto
@using QRCodeMenu.Client.Components
@using static QRCodeMenu.Client.Components.Diver
@inject NavigationManager NM

<Diver Items=DiverItems />

<div class="col-md-8 mb-2">
    <h4 class="mb-3">Restaurant info</h4>
    <a type="button"
       href="/admin/restaurant/@Restaurant.Id/edit"
       class="btn btn-primary mb-2">
        Edit
    </a>
    <ol class="list-group ">
        <li class="list-group-item">
            <div class="row">
                <div class="col-2 fw-bold">Name:</div>
                <div class="col">@Restaurant.Name</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-2 fw-bold">Description:</div>
                <div class="col">@Restaurant.Description</div>
            </div>
        </li>
    </ol>
</div>


@code {
    [Inject]
    private HttpClient Http { get; init; } = null!;
    [Inject]
    private IJSRuntime JSRuntime { get; init; } = null!;

    [Parameter]
    public int RestaurantId { get; set; } = 0;
    public RestaurantDto Restaurant { get; set; } = new();

    DiverItem[] DiverItems => new DiverItem[] {
        new("Restaurants", "/admin/restaurant"),
        new(Restaurant.Name, null),
    };

    protected override async Task OnInitializedAsync()
    {
        await LoadRestaurant();
        await base.OnInitializedAsync();
    }

    protected async Task LoadRestaurant()
    {
        var result =
            await Http.GetFromJsonAsync<RestaurantDto>(
                $"/api/admin/restaurant/{RestaurantId}")
            ?? new();

        Restaurant = result;
    }
}
