@inherits LayoutComponentBase

<div class="container-fluid">
    <main>
        <nav class="nav navbar navbar-expand-lg navbar-light bg-light justify-content-end">
          <a class="nav-link" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </nav>

        <article class="container mt-4 px-4">
            @Body
        </article>
    </main>
</div>
