@page "/"
@using QRCodeMenu.Shared.Dto
<h3>Hello</h3>

@foreach (var restaurant in Restaurants)
{
    <a href="/qr/@restaurant.Name"
   class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@restaurant.Name</h5>
            @*<small class="text-muted">3 days ago</small>*@
        </div>
        <p class="mb-1">@restaurant.Description</p>
        @*<small class="text-muted">Donec id elit non mi porta.</small>*@
    </a>
}

@code {
    [Inject]
    public HttpClient Http { get; set; }

    protected RestaurantDto[] Restaurants { get; set; } = Array.Empty<RestaurantDto>();

    protected override async Task OnParametersSetAsync()
    {
        await LoadRestaurants();

        await base.OnParametersSetAsync();
    }

    protected async Task LoadRestaurants()
    {
         var result =
            await Http.GetFromJsonAsync<RestaurantDto[]>("/api/admin/restaurant/") ??
            Array.Empty<RestaurantDto>();

        Restaurants = result;
    }
}
